@import url('https://fonts.cdnfonts.com/css/minecraft-4');
img.bg {
    /* Set rules to fill background */
    min-height: 100px;
    min-width: 100px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: 135%;
      
    /* Set up positioning */
    position: fixed;
    top: -100px;
    left: 0;
    z-index: -2;
}

.main { 
    position: relative; 
    width: 200px; 
    margin: 50px auto; 
    padding: 20px; 
    margin-top: 20px;
}
img.mc{
    position: relative;
    width: 600px; 
    margin-left: -220px;
    margin-top: -80px;
}
#page-wrap{
    margin-top: -60px;
}
#itemText{
    margin-left: -10px;
}
#button{
    margin-left: 40px;
    margin-top: 10px;
}
#error{
    margin-left: -70px;
    margin-right: -200px;
    padding-right: 30px;
    margin-top: 0px;
    font-family: 'Minecraft', sans-serif;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
}
p { 
   font: 15px/2 Georgia, Serif; 
   margin: 0 0 30px 0; 
   text-indent: 40px; 
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    /* modify left of table contents below: */
    margin-left: -110px;
}
.row1, .row2, .row3{
    /* display: flex; */
    margin-left: 25px;
    margin-top: 40px;
}
.slot1, .slot2, .slot3, .slot4, .slot5, .slot6, .slot7, .slot8, .slot9{
    display: flex;
    flex-direction: row;
    /* border: solid 5px; */
    width: 32px;
    height: 38px;

    margin-top: 18px;
    
}
.crafting{
    position: relative;
    margin-left: -117.5px;
    margin-top: -182px;
    width: 202%;
    z-index: -1;
    flex: none;
}
.slot10{
    margin-top: 115px;
    margin-left: 148px;
}
#amt10{
    z-index: -2;
    color: white;
    margin-left: 27px;
    margin-top: -12px;
}
h1 {
    font-family: 'Minecraft', sans-serif;
    color: gray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 100px;
    

}
#craftingText{
    margin-top: -70px;
    margin-right: -500px;
    margin-left: -480px;
    margin-bottom: 100px;
}
@media screen and (max-width: 1200px){
    h1{
        font-size: 80px;
    }
    #craftingText{
        margin-left: -370px;
    }
}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      /* left: 50%; */
      width: 150%;
      margin-left: -100px;   /* 50% */
    }
    h1{
        font-size: 50px;
    }
    #craftingText{
        margin-left: -205px;
        margin-top: -50px;
    }
}
@media screen and (max-width: 700px){
    img.mc{
        width: 150%;
        margin-left: -50px;
    }
    h1{
        font-size: 25px;
    }
    #craftingText{
        margin-left: -44px;
        margin-top: -40px;
    }
}
@media screen and (max-width: 350px) { /* Specific to this particular image */
    img.bg {
      /* left: 50%; */
      width: 200%;
      margin-left: -100px;   /* 50% */
    }
    img.mc {
        width: 100%;
        margin-left: -10px;
    }
}